<footer>
  <p>Powered by <a href="https://vitejs.dev" target="_blank">Vite</a></p>
  <form action="" id="contact-form" class="contact-form">
    <h2>Contact</h2>
    <label for="firstname">First name: <input type="text" class="contact-form__firstname" id="firstname" name="firstname">
    </label>
    <label for="lastname">Last name: <input type="text" class="contact-form__lastname" id="lastname" name="lastname">
    </label>
    <label for="mail">Mail: <input type="mail" class="contact-form__mail" id="mail" name="mail"> </label>
    <button id="contact-btn" class="contact-form__btn">Submit</button>
  </form>
</footer>